<div class="row">
    <div class="large-12 small-12 columns competition">

        <img ng-src="{{ competition.image }}" pigimage/>

        <h3 class="heading">{{ competition.title }}</h3>
        <h6 class="subheader"><i class="fi-clock"></i> Ends: {{ competition.enddate|simpleDate }}</h6>

        <!-- meta -->
        <div class="meta">
            <i ng-click="share('twitter')" class="fi-social-twitter"></i>
            <i ng-click="share('facebook')" class="fi-social-facebook"></i>
            <i ng-click="share()" class="fi-share"></i>
        </div>

        <p class="excerpt">{{ competition.excerpt }}</p>

        <div ng-bind-html="competition.body" class="competition-body" updatelinks></div>
        <hr/>
        <p class="competition-intro">To be in with a chance of winning this prize simply tap the answer to the following question:</p>
        <!-- competition form -->
    	<div ng-if="loggedin==true">
            <div ng-show="!competition.hasUserEntered" class="enter-panel loading-{{formLoading}}" id="answer-form">
            <h4>{{ competition.question }}</h4>
            <button type="submit" ng-click="submitAnswer(1)">{{ competition.option1 }}</button>
            <button type="submit" ng-click="submitAnswer(2)">{{ competition.option2 }}</button>
            <button type="submit" ng-click="submitAnswer(3)">{{ competition.option3 }}</button>
        </div>

            <!-- user entered -->
            <button ng-if="message" ng-click="share()" class="button green">
                {{ message }}
            </button>
            <button ng-show="competition.hasUserEntered && !message" ng-click="share()" class="button green already-entered">You have already entered this competition.</button>
            <!-- meta -->
            <div ng-show="competition.hasUserEntered || message" class="meta meta-bottom">
                <i ng-click="share('twitter')" class="fi-social-twitter"></i>
                <i ng-click="share('facebook')" class="fi-social-facebook"></i>
                <i ng-click="share()" class="fi-share"></i>
                <p class="small">Share this competition to be in with more chances of winning</p>
            </div>
    	</div>

    	<div ng-if="loggedin!=true">
            <form>
                <a class="button" href="#/register">To be in with a chance of winning this prize, please Sign Up or Sign In to Prize Pigs</a>
            </form>
    	</div>
     </div>
</div>
